<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <timestamp key="DATE" datePattern="yyyy-MM-dd"/>
    <timestamp key="DATE_SEC" datePattern="yyyy-MM-dd HH:mm:ss"/>

    <appender name="FILE-ACCESS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../logs/access/${DATE}.log</file>
        <encoder>
            <pattern>
[requestId: %reqAttribute{requestId}]
timestamp: ${DATE_SEC},
%fullRequest
%n
            </pattern>
            <charset>utf8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/backup/access/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender-ref ref="FILE-ACCESS" />
</configuration>
